# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Robot Framework
results/
report.html
output.xml
log.html

# Ignore any local configuration files
.robot/

# Miscellaneous
*.log
*.swp
.DS_Store

#IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
